.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-length-slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;

  width: 60%;
  height: 60px;
}

.main-checkbox-container {
  width: 35%; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: start;
  box-sizing: border-box;
}

.length-container {
  width: 100px;
  height: 50px;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: flex-start;
}

.length-container:hover .increment,
.length-container:hover .decrement {
  visibility: visible;
  opacity: 1;
}

/* Apply styles to stepper buttons */
.increment,
.decrement {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease; /* Transition for opacity change */
}

.slider-container {
  flex: 1;
}

.slider-bar {
  background-color: red;
  margin-left: 30px;
}
