.passpage-container {
  max-width: 800px;
  margin: 0 auto;

  text-align: center;
  padding: 2rem;
  margin-bottom: 20px;
}

.passpage-title {
  margin-bottom: 1rem;
}

.passpage-description {
  font-size: 1.2rem;
  color: #666;
}
