.passgen-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.passgen-title {
 
  margin-bottom: 1rem;
  color: #333;
}

.passgen-description {
  font-size: 1.2rem;
  color: #666;
}
