/* AddEntryModal.css */
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

.modal-content {
  background-color: rgb(21, 10, 62); /* Modal content background color */
  color: white;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
